.card {
    position: relative;
    z-index: 1;
    overflow: hidden; 
}


a{
    display: inline-block;
}

.card div {
    position: absolute;
    bottom: -100%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 90%;
    border-radius: 10px;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.1    ;
    transition: bottom 0.5s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover div {
    bottom: 0; 
    opacity: 1;
}

/* Style for the icon inside the div */
.card div a i {
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    bottom: 5px;
    left: 132px;
    transition: transform 0.4s ease-in-out;
}

.card:hover div a i {
    transform: scale(1.2); 
}

.card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: auto;
}
.card:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

/* Card Title & Price */
.card .card-title {
    font-weight: 600;
    margin-top: 20px;
}

.card .card-price {
    font-size: 18px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
