.craft {
    max-width: 100%;
    overflow-x: hidden;
}

.craft-content{
    text-align: left;
    margin-bottom: 150px;
    font-family: "Inter", sans-serif;
    
}

.craft-content p{
    color: rgba(0,0,0,0.55);
    font-size: 14px;
    margin-top: 30px;
    line-height: 24px;
}


.craft-content button{
    padding: 12px 30px;
    margin-top: 10px;
    border: none;
    background-color: #2f2f2f;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}


@media screen and (max-width: 768px) {  
    .craft-content{
        padding-top: 350px;
    }
}
@media screen and (max-width: 432px) {  
    .craft-content{
        padding-top: 500px;
    }
}