.help-imgs {
    position: relative;
}

.help-imgs img {
    display: flex;
    justify-content: flex-start;
    width: 67%;
    border-radius: 20px;
}

;

.help-imgs img:nth-child(1) {
    position: absolute;
}

.help-imgs img:nth-child(2) {
    position: absolute;
    width: 30%;
    bottom: 377px;
    left: 530px;

}

.help-imgs img:nth-child(3) {
    position: absolute;
    width: 50%;
    left: 380px;
    bottom: -110px;
}


.help-imgs::before {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url(./dots-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-185%, -40%);
    z-index: -1;
}

.help-text {
    text-align: start;
    position: relative;
    bottom: 85px;

}

.help-text h2 {
    font-size: 32px;
    font-family: "Inter", sans-serif;

}

.help-text p {
    font-size: 14px;
    color: #6a6a6a;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    margin: 0px 0px 16px;
}

.help-text ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

.help-text ul li {
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
    vertical-align: top;
    color: #6a6a6a;
    position: relative;
}

.help-text ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #6a6a6a;
    position: absolute;
    left: -15px;
    top: 26%;
    transform: translateY(-50%);
}

a.btn1 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
}

a.btn1:hover {
    cursor: pointer;
}


@media screen and (max-width: 769px) {
    .helpu {
        flex-direction: column;
        /* Stack elements vertically */
    }

    .help-imgs {
        margin-bottom: 240px;
        /* Add spacing below images */
    }

    .help-text ul li::before {
        left: -15px;
        top: 50%;
    }

    .help-text ul li {
        margin-right: 10px;
    }

    .help-imgs img:nth-child(2) {
        bottom: 350px;
        left: 500px;
    }

    .help-imgs img:nth-child(3) {
        left: 360px;
        bottom: -110px;
    }
}


@media screen and (max-width: 1025px) {
    .help-imgs {
        position: relative;
        /* Ensures child elements can use absolute positioning */
    }

    .help-imgs img:nth-child(2) {
        position: absolute;
        bottom: 270px;
        left: 400px;
    }

    .help-imgs img:nth-child(3) {
        position: absolute;
        bottom: -100px;
        left: 290px;
    }

    .help-text {
        position: relative;
        bottom: -75px;
        left: 15px;
    }
    .help-text ul li{
        width: 45%;
        margin-right: 5px;
    }
}

@media screen  and (max-width: 426px) {
    .help-imgs {
        position: relative;
        margin-bottom: 50px;
       
    }

    .help-imgs img:nth-child(2) {
        position: absolute;
        bottom: 165px;
        left: 250px;
    }

    .help-imgs img:nth-child(3) {
        position: absolute;
        bottom: -70px;
        left: 180px;
    }
    .help-text ul li::before {
        transform: translate(-10px, -300%);
    }
    .help-imgs::before{
        transform: translate(-80%, -40%);
    }
}