.testimonial-slider-wrap .tns-nav {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.testimonial-slider-wrap #testimonial-nav > span {
    cursor: pointer;
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 50%;
    background: rgba(59, 93, 80, 0.1);
    color: #2f2f2f;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.testimonial-slider-wrap #testimonial-nav .next {
    right: 0;
}

.testimonial-slider-wrap #testimonial-nav > span {
    cursor: pointer;
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 50%;
    background: rgba(59, 93, 80, 0.1);
    color: #2f2f2f;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.testimonial-slider-wrap #testimonial-nav .prev {
    left: -10px;
}