

.whyus{
    padding-top: 100px;
    /* margin-top: 150px; */
}

.choose {
    text-align: left;
    font-family: "Inter", sans-serif;
}

.choose .choosedescription {
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px;
    /* width: 80%; */
}

.pros {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    /* gap: 20px;  */

}

.pro-cards {
    width: 45.5%;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;

}

.pro-cards h3 {
    font-size: 14px;
    font-weight: 500;
}

.pro-cards p {
    font-size: 14px;
    color: #6a6a6a;
    width: 100%;
    
}

.pro-cards i {
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
    position: relative;
    z-index: -1;
}


.pro-cards i::after {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.whyus-image {
    position: relative; /* Ensures the pseudo-element is positioned relative to this container */
    display: flex;
    justify-content: flex-end;
}

.whyus-image img {
    width: 83%;
    border-radius: 20px;
    position: relative; /* Keeps the image positioned normally */
}

.whyus-image::before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url(./dots-yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-147%, -40%);
    z-index: -1;
}




@media screen and (max-width: 430px) {
    .pro-cards {
        width: 43%;
    }
}
@media screen and (max-width: 320px) {
    .pro-cards {
        width: 40%;
    }
}


@media screen and (max-width: 1024px) { /* Ensure proper spacing */
    .whyus-image::before {
        transform: translate(-90%, -40%);
    }
}
@media screen and (max-width: 768px) { 
    .whyus-image {
        display: flex; /* Make the parent a flex container */
        justify-content: flex-start; /* Align image to the left */
    }

    .whyus-image img {
        width: 100%; 
        margin-top:30px ;
    }
    .whyus-image::before {
        transform: translate(-40%, -21%);
    }

}

