.App{
    text-align: center;
    background-color: #3B5D50;
    height: 88vh;
}
/*#6A6A6A*/
.container{
    max-width:85%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {  
   .App{
    height: 140vh;
    margin-bottom: 150px;
   }
}

